<app-global-header title="Home"></app-global-header>

<!--Header-->

<div class="header-container">
    <h1>Welcome to Your Portfolio Manager</h1>
</div> <br>



<div class="content-container">
    <div class="elevated-container">
        <!-- Searching for stocks-->
        <div class="search-container">
            <h2>Select a stock to view:</h2>
            <div class="search-bar-wrapper">
                <input 
                type="text" 
                class="search-bar" 
                placeholder="Search stocks..."
                [(ngModel)]="searchTerm"
                (input)="filterStocks()"  />
            </div>
            <div class="search-results">
                <div class="results-container">
                    <button class="result-box" *ngFor="let stock of filteredStocks" [routerLink]="['/personal', stock.id]">
                        <h4>{{ stock.name }}</h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="elevated-container">
        <!--View of stocks to buy not working-->
        <div class="stock-container">
            <h2>Available stocks:</h2>
            <div class="stock-box">
                <table class="stock-table">
                    <thead>
                        <tr>
                            <th>Stock</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let stock of stocks">
                            <ng-container *ngFor="let share of stock.shares">
                                <tr *ngIf="share"> <!-- only show the stocks with a share-->
                                    <td>{{ stock.name }}</td>
                                    <td>£{{ share }}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <tr *ngIf="stocks.length === 0">
                            <td colspan="2">No stocks available.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-global-footer></app-global-footer>


