.personal-container {
  background-color: #ffffff;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
h1 {
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.nav-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.nav-button:hover {
  background-color: #0056b3;
}
.transactions-box {
  background-color: #2d2d2d;
  padding: 2rem;
  border-radius: 25px;
  height: 500px;
  overflow-y: auto;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.transaction {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  color: #333;
  font-family: monospace;
}


.footer {
  background-color: #c5deef;
  color: rgb(0, 0, 0);  
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  font-size: 14px; 
}

